/* ! Base Style */
body{font-family: 'Inter', sans-serif;}

a{text-decoration: none;}

h1,h2,h3,h4,h5,p{color: #000; padding-bottom: 30px;}

p{line-height: 28px;font-weight: 400;}

.big-text{font-size: 70px; font-weight: 900;}
.med-text{font-size: 40px; font-weight: 900;}
.normal-text{font-size: 20px;}
.small-text{font-size: 14px;}
.intro-text{text-transform: uppercase;font-size: 20px;font-weight: bold;}

.button{padding: 18px 28px; background-color: #316bff; color: #fff; display: inline-block; border-radius: 6px;}


@media (max-width: 768px) {
    .big-text{font-size: 40px; font-weight: 900;}
    .intro-text{text-transform: uppercase;font-size: 15px;font-weight: bold;}
}

/* ! Page dimensions */
.page {
    /*width: 1920px;*/
    width: 100%;
    max-width: 1920px;
    /*height: 1080px;*/
}


/* ! Header */
.header{
    width: 100%;
    height: 100px;
    position:fixed;
    background-color: #000;
    top:0;
    left:50%;
    transform: translateX(-50%);
    padding: 0;
    display: flex;
    max-width: 1920px;
    max-height: 100px;
    z-index: 10;

}

.container_header {
    width: 1400px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid yellow;
    display: inline-block;
}

.menu{
    /*transition: all 1s cubic-bezier(.215, .61, .355, 1);*/
    height: 64px;
    margin-left: auto; 
    margin-right: 0;
    z-index: 0;
    border: 1px solid green;
    float: right;
    margin-top: 18px;
}

.menu li{
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.menu li a{
    color: #fff;
    justify-content: center;
    align-items: center;
    height: 100%;
}

img{
    max-width:100%;
    max-height:100%;
}

.logo{
    width: 284px;
    height: 64px;
    display: inline-block;
    z-index: 1;
    border: 1px solid red;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
}

.hamburger{
    display: none;
}


@media (max-width: 768px) {
    .page{ width: 100%;}
    .header{
        width: 100%;
        top: 0;
        left: 0;
        transform: translateX(0%);
        justify-content: center;
    }
    .container_header { display: flex;  border: 1px solid yellow; width: 100%;}
    .hamburger{
        display: block;
        width: 30px;
        height: 30px;
        top: 40px;
        right: 30px;
        position: absolute;
    }
    .hamburger span{background-color: #fff;height: 3px;width: 100%;display: block;margin-bottom: 5px;}
    .menu{position: absolute;top: 0; right: -100%; background-color: black; height: 100vh;padding-top: 80px;}
    .menu--open{right: 0%; z-index: 0;}
    .menu li{display: block;}
    .menu li a{padding-left: 15px; padding-right: 15px; padding-top: 15px; padding-bottom: 15px; font-size: 20px;}
}

/* ! Hero */

.hero{
    height: 100vh;
    display: flex; 
    width: 100%;
    align-items: center;
    background: url('assets/IMG_2974.png') no-repeat center center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.hero::after{
    content: ' ';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top:0;
    left: 0;
}

/* ! Poster */
.titolo{
    max-width: 1400px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    /*
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    */
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    border: 1px solid black;
}

.titolo h3{
    border: 1px solid blue;
}


.titolo span{
    position: relative;
}

.titolo span::before{
    content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    height: 5px;
    border-radius: 5px;
    background: linear-gradient(to right, rgb(25, 0, 255) , rgb(0, 183, 255));
}


.poster{
    display: flex;
    
    max-width: 1400px;
    align-items: center;
    position: relative;
    
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    border: 1px solid black;
}


.poster__img{
    max-width: 700px;
}
.poster__img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.poster__content{
    width: 50%;
    padding: 50px;
}

.secondo_titolo{
    max-width: 1400px;
    display: flex;
    position: relative;
    align-items: left;
    justify-content: left;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    border: 1px solid black;
}

.secondo_titolo h3{
    border: 1px solid blue;
}

.secondo_titolo span{
    position: relative;
}

.secondo_titolo span::before{
    content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    height: 5px;
    border-radius: 5px;
    background: linear-gradient(to right, rgb(25, 0, 255) , rgb(0, 183, 255));
}

.secondo_poster{
    display: flex;
    
    max-width: 1400px;
    align-items: center;
    position: relative;
    
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    border: 1px solid black;
}


.secondo_poster__img{
    max-width: 700px;
}
.secondo_poster__img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.secondo_poster__content{
    width: 60%;
    padding: 0;
}

@media (max-width: 768px) {
    .poster{flex-wrap: wrap;height: auto;}
    .poster__img,
    .poster__content{width: 100%;}
    .secondo_poster{flex-wrap: wrap;height: auto;}
    .secondo_poster__img,
    .secondo_poster__content{width: 100%;}
}




/* ! Helpers */

.mt-1{margin-top: 50px;}
.mt-2{margin-top: 100px;}
.mt-3{margin-top: 150px;}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}