/* ! Base Style */
body{
    font-family: 'Inter', sans-serif;
}

@font-face {
    font-family: "PingFang-Medium";
    src: url("assets/fonts/PingFang_Medium.ttf") format('truetype');
}

@font-face {
    font-family: "ArialBlk";
    src: url("assets/fonts/ArialBlack.ttf") format('truetype');
}

a{text-decoration: none;}

h1,h2,h3,h4,h5,p{color: #000; padding-bottom: 30px;}

p{
    font-family: "PingFang-Medium";
    opacity: 0.6;
    font-size: 24px;
    color: #000000;
    letter-spacing: 0;
    text-align: justify;
    text-justify: inter-word;
}

p span{font-weight: 600; font-size: 40px;}

.big-text{
    font-size: 70px; 
    font-weight: 900;
    font-family: "Arial Black", "Arial-Black", "ArialBlk";
}
.med-text{
    font-size: 48px; 
    font-weight: 900;
    font-family: "Arial Black", "Arial-Black", "ArialBlk";
}
.normal-text{
    /*non usato*/
    font-size: 20px;
}
.small-text{
    /*non usato*/
    font-size: 14px;
}
.intro-text{
    /*non usato*/
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

.button{
    width: 528px;
    height: 72px;
    background: linear-gradient(220deg, #4AF0DF 0%, #5F49F4 100%, #5F49F4 100%); 
    color: #fff; 
    display: inline-block; 
    border-radius: 36px;
    font-weight: 700;
    font-family: "Arial Black", "Arial-Black", "ArialBlk";
    font-size: 21px;
    letter-spacing: -0.24px;
    text-align: center;
    padding-top: 25.5px;
}


@media (max-width: 768px) {
    .big-text{font-size: 40px; font-weight: 900;}
    .intro-text{text-transform: uppercase;font-size: 15px;font-weight: bold;}
}

/* ! Page dimensions */
.page {
    width: 100%;
    margin: auto;
}


/* ! Header */
.header{
    width: 100%;
    height: 100px;
    position:fixed;
    background-color: #000;
    top:0;
    /*left:50%;
    transform: translateX(-50%);*/
    padding: 0;
    display: flex;
    max-height: 100px;
    z-index: 10;

}

.container_header {
    width: 1400px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.menu{
    /*transition: all 1s cubic-bezier(.215, .61, .355, 1);*/
    z-index: 0;
    float: right;
    margin: 0;
    position: relative;
    top: 50%;
    right: 0%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.menu li{
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.menu li a{
    color: #fff;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.header__img{
    max-width:100%;
    max-height:100%;
    transition: transform .2s;
}

.header__img:hover{
    transform: scale(1.3);
}

img{
    max-width:100%;
    max-height:100%;
}

.logo{
    width: 284px;
    height: 64px;
    display: inline-block;
    z-index: 1;
    margin: 0;
    position: relative;
    top: 50%;
    left: 0%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.hamburger{
    display: none;
}


@media (max-width: 768px) {
    .page{ width: 100%; margin: 0;}
    .logo{display: none;}
    .header{
        width: 100vw;
        height: 70px;
        top: 0;
        left: 0;
        transform: translateX(0%);      
        justify-content: center;
        display: flex;
    }
    .container_header {  
        width: 100%;
        margin-left: 15px;
        margin-right: 15px;
        background: url("assets/logo_mobile_cerchi.png") left center no-repeat,
                    url("assets/logo_mobile_testo.png") center center no-repeat;
        background-size: 40px 40px, 105px 13px;
    }
    .hamburger{
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        right: 15px;
        top: 25px;
    }
    .hamburger span{background-color: #fff;height: 3px;width: 100%;display: block;margin-bottom: 5px;}
    .menu{position: absolute;top: 0; right: -100%; padding-top: 550px; background-color: #000;}
    .menu--open{right: 0%; z-index: 0;}
    .menu li{display: block;}
    .menu li a{padding-left: 15px; padding-right: 10px; padding-top: 15px; padding-bottom: 15px; font-size: 20px;}
}

/* ! Hero */

.hero{
    height: 100vh;
    display: flex; 
    width: 100%;
    align-items: center;
    background: url('assets/home_opening_big_pic.png') no-repeat center center;
    background-size: cover;
    position: relative;
    /*margin-top: 100px;*/
    overflow: hidden;
    z-index: 2;
}
/*
.hero::after{
    content: ' ';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top:0;
    left: 0;
}
*/
@media (max-width: 768px){
    .hero{
        width: 100vw;
        height: 200px;
        margin-top: 70px;
    }
    .hero::after{
        display: flex;
    }
}

/* ! vertical_height */
.vertical_height{
    height: 100vh;
    padding-top: 100px;
}

/* ! Poster */
.titolo{
    max-width: 1400px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    /*
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    */
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 310px;
    background: url("assets/panel_1_doppio_cerchio.png") right top no-repeat;
}

/*
.titolo h3{
    border: 1px solid blue;
}
*/

.titolo span{
    position: relative;
}

.titolo span::before{
    content: "";
    position: absolute;
    top: 100%;
    margin-top: 8px;
    width: 100%;
    left: 0;
    height: 14px;
    border-radius: 7px;
    background: linear-gradient(220deg, #4AF0DF 0%, #5F49F4 100%, #5F49F4 100%);
}


.poster{
    display: flex;
    
    max-width: 1400px;
    align-items: center;
    position: relative;
    
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;

    background: url("assets/panel_1_cerchio_piccolo_blur.png") -10% 400% no-repeat,
                url("assets/panel_1_panel_cerchio_grande_blur.png") 45% 0 no-repeat;

}


.poster__img{
    max-width: 700px;
    padding-left: 10px;
}
.poster__img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.poster__content{
    width: 50%;
    padding: 40px;
}

.download_button{
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    display: flex;
    max-width: 1400px;
}


/* Secondo blocco */

.secondo_titolo{
    max-width: 1400px;
    display: flex;
    position: relative;
    align-items: left;
    justify-content: left;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

/*
.secondo_titolo h3{
    border: 1px solid blue;
}
*/

.secondo_titolo span{
    position: relative;
}

.secondo_titolo span::before{
    content: "";
    position: absolute;
    top: 100%;
    margin-top: 8px;
    width: 100%;
    left: 0;
    height: 14px;
    border-radius: 7px;
    
    /*background: linear-gradient(to right, rgb(119, 0, 255) , rgb(0, 255, 234)); */
    background: linear-gradient(220deg, #4AF0DF 0%, #5F49F4 100%, #5F49F4 100%);
}

.secondo_poster{
    display: flex;
    
    max-width: 1400px;
    align-items: center;
    position: relative;
    
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
}


.secondo_poster__img{
    /*max-width: 700px;*/
    padding-left: 40px;
    width: 45%;
}
.secondo_poster__img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.secondo_poster__content{
    width: 55%;
    padding: 0;
}


/* Terzo blocco - sfondo con testo dentro in blur */

.terzo_poster{
    display: flex;
    max-width: 1400px;
    align-items: center;
    position: relative;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.terzo_poster__img{
    width: 100%;
}
.terzo_poster__img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.terzo_poster__content{
    width: 651px;
    top: 60%;
    right: 0%;
    display: inline-block;
    position: absolute;
    padding: 43px 43px;
    background: rgba(240, 250, 255, 0.30);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 0 2px 60px 0 rgba(61, 111, 162, 0.21);
    /* border-radius: 10px; */
    border-top-left-radius: 32px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 32px;
}

.terzo_poster__content p{
    color: rgb(46, 45, 45);
}

.line_span{
    position: relative;
}

.line_span::before{
    content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    height: 14px;
    border-radius: 7px;
    background: linear-gradient(220deg, #4AF0DF 0%, #5F49F4 100%, #5F49F4 100%);
}


/* Quarto blocco - immagine grigia */

.quarto_titolo{
    max-width: 1400px;
    display: flex;
    flex-direction: row-reverse;
    position: relative;

    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

/*
.quarto_titolo h3{
    border: 1px solid blue;
}
*/

.quarto_titolo span{
    position: relative;
}

.quarto_titolo span::before{
    content: "";
    position: absolute;
    top: 100%;
    margin-top: 8px;
    width: 100%;
    left: 0;
    height: 14px;
    border-radius: 7px;
    background: linear-gradient(220deg, #4AF0DF 0%, #5F49F4 100%, #5F49F4 100%);
}

.quarto_poster{
    display: flex;
    
    max-width: 1400px;
    align-items: center;
    position: relative;
    
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;

    /*
    background-image: url("assets/panel_4_cerchio_grande.png"),
                    url("assets/panel_4_cerchio_piccolo.png");
    background-repeat: no-repeat no-repeat;
    background-position: center top left bottom;
    background-position-x: 50% 50%;
    */
    /*background-position-y: 0 100%;*/
    background: url("assets/panel_4_cerchio_grande.png") 38% top no-repeat,
                url("assets/panel_4_cerchio_piccolo.png") left bottom no-repeat;
}

.quarto_poster__background{
    border: 1px solid red;
    max-width: 800px;
    width: 100%;
    position: relative;
}

.quarto_poster__background img{
    float: right;
}

.quarto_poster__img{
    max-width: 700px;
}
.quarto_poster__img img{
    object-fit: cover;
    width: 90%;
    height: 90%;
    padding-bottom: 10%;
}

.quarto_poster__content{
    width: 50%;
    /*padding: 0 80px;*/
    padding-left: 10%;
}


/* Quinto blocco - Immagine di sfondo a metà con testo sopra */

.quinto_poster{
    display: flex;
    max-width: 1400px;
    align-items: center;
    position: relative;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.quinto_poster__img{
    width: 75%;
    display: block;
    margin-left: auto;
}
.quinto_poster__img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.quinto_poster__content{
    width: 651px;
    display: inline-block;
    margin-left: 0;
    position: absolute;
    padding: 43px 43px;
    border-radius: 32px;
    background: rgba(240, 250, 255, 0.30);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 0 2px 60px 0 rgba(61, 111, 162, 0.21);
    /*box-shadow: -5px -5px 30px #a7a6a6;*/
}

.quinto_poster__content h3{
    padding-bottom: 20px;
}

.quinto_poster__content p{
    color: rgb(46, 45, 45);
    padding-top: 10px;
}


/* Sesto blocco - Team */

.sesto_titolo{
    max-width: 1400px;
    display: flex;
    position: relative;
    align-items: left;
    justify-content: left;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

/*
.sesto_titolo h3{
    border: 1px solid blue;
}
*/

.sesto_titolo span{
    position: relative;
}

.sesto_titolo span::before{
    content: "";
    position: absolute;
    top: 100%;
    margin-top: 8px;
    width: 100%;
    left: 0;
    height: 14px;
    border-radius: 7px;
    background: linear-gradient(220deg, #4AF0DF 0%, #5F49F4 100%, #5F49F4 100%);
}

.sesto_poster{
    display: flex;
    
    max-width: 1400px;
    align-items: center;
    position: relative;
    
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;

}

.sesto_poster__content{
    width: 45%;
    padding: 0 0;
    float: right;
    margin-right: auto;
}

.sesto_poster__img{
    width: 45%;
    padding: 0 10px;
    display: inline-block;
}

.sesto_poster__img img{
    object-fit: cover;
    vertical-align: middle;
}

.dot{
    height: 120px;
    width: 120px;
    border-radius: 100%;
    line-height: 250px;
    text-align: center;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: transform .2s;
}

.dot:hover{
    transform: scale(1.3);
}

.grid{
    display: flex;
    max-width: 1350px;
    padding: 0 30px;
    margin: 0 auto;
}

.grid .col{width: 100%;}

/* Settimo blocco */
.settimo_titolo{
    max-width: 1400px;
    display: flex;
    position: relative;
    align-items: left;
    justify-content: left;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.settimo_titolo span{
    position: relative;
}

.settimo_titolo span::before{
    content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    margin-top: 8px;
    left: 0;
    height: 14px;
    border-radius: 7px;
    background: linear-gradient(220deg, #4AF0DF 0%, #5F49F4 100%, #5F49F4 100%);
}

.settimo_poster{
    display: flex;
    
    max-width: 1400px;
    align-items: center;
    position: relative;
    
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.settimo_poster__content{
    width: 50%;
}

.settimo_poster__content_2{
    width: 50%;
}

.email_input{
    height: 72px;
    width: 465px;
    border-radius: 36px;
    background: #EDEDED;
    outline:0;
    border:0;
    display: inline-block;
    padding-left: 30px;
}

.subscribe_button{
    margin-left: 24px;
    height: 72px;
    width: 150px;
    background: linear-gradient(220deg, #4AF0DF 0%, #5F49F4 100%, #5F49F4 100%); 
    color: #fff; 
    display: inline-block; 
    border-radius: 36px;
    font-weight: 700;
    font-family: "Arial Black", "Arial-Black", "ArialBlk";
    font-size: 21px;
    letter-spacing: -0.24px;
    text-align: center;
    cursor: pointer;
    padding-top: 25.5px;
}

.intouch_button{
    margin-left: 24px;
    height: 72px;
    width: 217px;
    background: linear-gradient(220deg, #4AF0DF 0%, #5F49F4 100%, #5F49F4 100%); 
    color: #fff; 
    border-radius: 36px;
    font-weight: 700;
    font-family: "Arial Black", "Arial-Black", "ArialBlk";
    font-size: 21px;
    letter-spacing: -0.24px;
    text-align: center;
    cursor: pointer;
    padding-top: 25.5px;
    float: right;
}

@media (max-width: 768px) {
    .poster{flex-wrap: wrap;height: auto;}
    .poster__img,
    .poster__content{width: 100%;}
    .secondo_poster{flex-wrap: wrap;height: auto;}
    .secondo_poster__img,
    .secondo_poster__content{width: 100%;}
    .grid{flex-wrap: wrap;}
}

/* ! Footer */
.footer{
    width: 100%;
    bottom:0;
    height: 100px;
    display: flex;
    background-color: #000;
    max-height: 100px;
}

.footer__container{
    width: 1400px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    line-height: 100px;
}

.footer__text{
    margin-left: auto; 
    margin-right: 0;
    z-index: 0;
    float: right;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.footer__p{
    align-items: center;
    font-size: 25px;
    padding-bottom: 0;
    color: #fff;
}

.logo_bottom{
    display: inline-block;
    margin-right: auto;
    vertical-align: middle;
}

.logo_bottom img{
    display: inline-block;
    margin-right: auto;
    vertical-align: middle;
}

/* Scroll Helper */

.scroll_section a {
    position: relative;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #5F49F4; 
    font-family: "Arial Black", "Arial-Black", "ArialBlk";
    font-size: 21px;
    letter-spacing: -0.24px;
    text-decoration: none;
    transition: opacity .3s;
    padding-top: 60px;
    z-index: 1;
}
.scroll_section a:hover {
    opacity: .5;
}
/*
#scroll_section a {
    padding-top: 60px;
  }
  */
.scroll_section a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 3px solid #5F49F4; 
    border-bottom: 3px solid #5F49F4; 
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb05 1.5s infinite;
    animation: sdb05 1.5s infinite;
    box-sizing: border-box;
    z-index: 1;
}
.scroll_back_section a {
    position: relative;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #5F49F4; 
    font-family: "Arial Black", "Arial-Black", "ArialBlk";
    font-size: 21px;
    letter-spacing: -0.24px;
    text-decoration: none;
    transition: opacity .3s;
    padding-top: 100px;
}
.scroll_back_section a span{
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 3px solid #5F49F4; 
    border-bottom: 3px solid #5F49F4; 
    -webkit-animation: sdb06 2s infinite;
    animation: sdb06 2s infinite;
    opacity: 0;
    box-sizing: border-box;
}
.scroll_back_section a span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
.scroll_back_section a span:nth-of-type(2) {
    top: 16px;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
}
@-webkit-keyframes sdb05 {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}
@keyframes sdb05 {
    0% {
        transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}
@-webkit-keyframes sdb06 {
    0% {
        -webkit-transform: rotate(135deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(135deg) translate(-20px, 20px);
        opacity: 0;
    }
}
@keyframes sdb06 {
    0% {
        transform: rotate(135deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: rotate(135deg) translate(-20px, 20px);
        opacity: 0;
    }
}

/* ! Helpers */

.mt-1{margin-top: 50px;}
.mt-2{margin-top: 100px;}
.mt-3{margin-top: 150px;}
.pb-0{padding-bottom: 0px;}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.glass-box {
    background: rgba(240,250,255,0.30);
    box-shadow: 0 2px 60px 0 rgba(61,111,162,0.24);
    border-radius: 32px;
}